<h3>ОШИБКА</h3>

<text>
    Возникла ошибка @Error: @ErrorMessage
</text>

@code {
    [Parameter]
    public string Error { get; set; }
    [Parameter]
    public string ErrorMessage { get; set; }
}
